{ "AppAllowList": { "value": "com.microsoft.Excel, com.microsoft.Powerpoint, com.microsoft.onenote.mac, com.microsoft.Outlook, com.microsoft.Word, com.microsoft.teams, com.microsoft.OneDrive, com.jamfsoftware.selfservice.mac", "type": "string" }, "AppPrefixAllowList": { "value": "com.microsoft., com.apple.", "type": "string" }, "Enable_SSO_On_All_ManagedApps": { "value": 1, "type": "integer" }, "browser_sso_interaction_enabled": { "value": 1, "type": "integer" }, "disable_explicit_app_prompt": { "value": 1, "type": "integer" } }
